Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets:
            - "Fn::GetOptionSetting":
                Namespace: "aws:elasticbeanstalk:application:environment"
                OptionName: "CERT_S3"
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:application:environment"
              OptionName: "INSTANCE_ROLE"
files:
  "/etc/pki/tls/certs/server.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source:
      "Fn::Join":
        - ""
        - - "https://"
          - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:application:environment"
              OptionName: "CERT_PATH"
          - "server.crt"
  "/etc/pki/tls/certs/server.pem":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source:
      "Fn::Join":
        - ""
        - - "https://"
          - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:application:environment"
              OptionName: "CERT_PATH"
          - "server.pem"
container_commands:
  01restart_nginx:
    command: "service nginx restart"
