[Unit]
Description=Rooks and Walls Service

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /opt/rooksandwalls/server.jar
ExecStop=/bin/kill -15 $MAINPID
User=ec2-user
RemainAfterExit=no
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target